<html>
<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/adminapparels.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/prod.js"></script>   
</head>
<style>body {
    /* background-image: url("images/products/photo1.jpg"); */
    /* background-image: url("images/apparels/home2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/apparels/home2.jpg");padding: 0;
  font-family: sans-serif;

  user-select: none;
  min-height: 100vh;
  margin-left: 10%;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: rgb(177, 207, 220);
  }</style>

  




<main>
<body>
    <section id="form"><!--form-->
                        
   
                        <div class="content">
 
                              <form  method="post" action="/Apartmentdetails">
                              <button type="submit" >Apartment DETAILS...</button>
                              </form>
                               <form  method="post" action="/flatdetails">
                              <button type="submit"  >Flat DETAILS...</button>
                              </form>
                                              
                </div>
          
    
</main>
</body>
</html>
