<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href="css/prettyPhoto.css" rel="stylesheet"> -->
    <!-- <link href="css/price-range.css" rel="stylesheet"> -->
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <!-- <link href="css/main.css" rel="stylesheet"> -->
    <!-- <link href="css/responsive.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/userhome.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/prod.js"></script>
  </head>

  <body>
    <main>
      <section id="form">
        <!--form-->
        <div class="content">
          <form method="post" action="/bookApartment">
            <button type="submit">Looking for Apartment ?</button>
          </form>

          <form method="post" action="/bookflat">
            <button type="submit">Looking for Flat ?</button>
          </form>
        </div>
        <div class="container">
          <img src="images/Land-Leaders.jpg" alt="Leaders" />
          <div class="side-text">
            We managed to grow at a fast pace, due to their customer
            satisfaction approach, innovative techniques and dedication to meet
            and exceed their customers’ needs. This is why this project also
            showcases this real estate agency’s beautiful growth as a business
            and we’re proud that we could be part of such a beautiful
            experience.<br />
            <li>
              No matter what path you take to sell your home, we can help you
              navigate a successful sale.
            </li>
            <br />
            <li>
              Your next place is closer than you think. Explore the
              possibilities, and discover a rental you’ll love.
            </li>
          </div>
          <div class="dotpack">
            <div class="dot1"></div>
            <div class="dot2"></div>
            <div class="dot3"></div>
          </div>
        </div>
      </section>
    </main>
    <script src="../public/js/userhome.js"></script>
  </body>
</html>
